/* Header */
#header {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#profile-icon {
    border-radius: 50%;
    width: 80px;
    position: relative;
    top: 10px;
    left: 200px;
}

.head-text {
    font-size: larger;
    position: relative;
    top: 10px;
    left: 900px;

}

/* Content */

.names {
    position: relative;
    top: 100px;
    left: 500px;
    font-size: 30px;
}

.names h1 {
    margin-bottom: 0;
}

.names h3 {
    margin: 0;
}

.names h6 {
    margin-top: 0;
}

.cloud-one {
    width: 100px;
    position: absolute;
    left: 200px;
}

.cloud-two {
    width: 100px;
    position: absolute;
    left: 500px;
}

.mountain {
    width: 80%;
}

.logo {
    width: 300px;
    position: relative;
    left: 520px;
    margin-bottom: 0;
}

.description {
    position: relative;
    left: 320px;
}

body {
    background-color: white;
}

/* Footer */

